.ufo {
  
}

@keyframes animate-ufo {
  0%   {left: 50%;}
  25%  {left: 100%;}
  50%  {left: 0%;}
  75%  {left: 100%}
  100% {left: 50%;}
}

.ufo-png {
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 70%;
  margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .ufo-animation {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    animation: animate-ufo 5s 2 alternate ease-in-out;
    /* animation-name: animate-1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out; */
  }
}