.App {
  
}

/**** HEADER ****/

.App-logo {
  height: 80px;
  pointer-events: none;
  margin-bottom: 8px;
  margin-top: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 5%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  border: 2px solid greenyellow;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**** BODY ****/

.main-page {
  background-color: #282c34;
  height: 300vh;
  border: 2px solid hotpink; 
}

.main-page-title {
  color: greenyellow;
  height: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFF00;
}

.animation-1-container {
  border: 2px solid #61dafb;
  height: 20%;
  color: aliceblue;
  text-align: center;
}

.animation-1-ideas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}





.video-rocketeer-container{
  height: 20%;
  border: 2px solid #00FF00;
  text-align: center;
  color: aliceblue;
  padding-top: 5%;
}

.video-rocketeer-embed {
  display: flex;  
  justify-content: center;
  margin-top: 5%;
} 