.App {
  
}

/**** HEADER ****/



/**** BODY ****/

.main-page {
  background-color: #282c34;
  height: 300vh;
  border: 2px solid hotpink; 
}

.main-page-title {
  color: greenyellow;
  height: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFF00;
}







/* *************** */


.video-rocketeer-container{
  height: 20%;
  border: 2px solid #00FF00;
  text-align: center;
  color: aliceblue;
  padding-top: 5%;
}

.video-rocketeer-embed {
  display: flex;  
  justify-content: center;
  margin-top: 5%;
} 